<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>socialHub - Posts</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5ZBx00RduDZd4vXnxozNtrUJYiBf3OE4"></script>
    <script type="text/javascript" th:src="@{/js/checkin.js}"></script>
<!--    <style type="text/css">-->
<!--        #map {-->
<!--            width: 40vw;-->
<!--            height: 40vh;-->
<!--        }-->
<!--    </style>-->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="https://momentjs.com/downloads/moment.min.js"></script>

    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-16x16.png">
</head>
<body class="container-fluid">

    <h1 th:inline="text">Hello [[${user.username}]]!</h1>

    <div th:if="${user.picture != null}">
        <img th:src="@{/img/{filename}(filename=${user.picture})}">
    </div>
    <span th:inline="text">logged with [[${#httpServletRequest.remoteUser}]]</span>
    <form th:action="@{/logout}" th:method="post">
        <input type="submit" value="Sign Out" />
    </form>
    <div>
        <a th:href="@{/users/{id}/profile(id=${user.id})}">Profile</a>

<!--        <form th:action="@{/users/{id}/profile(id=${user.id})}" th:method="get">-->
<!--            <div>-->
<!--                <input type="hidden" name="lng" id="longitude" th:value="${longitude}">-->
<!--                <input type="hidden" name="lat" id="latitude" th:value="${latitude}">-->
<!--            </div>-->
<!--            <input type="submit" value="Profile">-->
<!--        </form>-->

<!--        <div>Country: <span id="country"></span></div>-->
<!--        <div>State: <span id="state"></span></div>-->
<!--        <div>City: <span id="city"></span></div>-->
<!--        <div>IP: <span id="ip"></span></div>-->
    </div>

    <div><a href="/users">Users</a></div>

    <a href="/posts/new">New post</a>
    <br>
    <br>

    <form th:action="@{/}" th:method="get">
        <label for="text">Search: </label>
        <input type="text" name="text" id="text" th:value="${#request.getParameter('text')}"
               placeholder="type here to search">

        <label for="limit">Limit: </label>
        <input type="number" name="limit" id="limit" th:value="${#request.getParameter('limit')}"
               placeholder="default value is 100">

        <label for="offset">Offset: </label>
        <input type="number" name="offset" id="offset" th:value="${#request.getParameter('offset')}"
               placeholder="default value is 0">

        <input type="submit" value="Find">
    </form>
    <br>
    <br>

    <div th:each="post : ${posts}">

        <span th:value="${post.author?.picture}">
            <span th:if="${post.author?.picture != null}">
                <a th:href="@{/users/{id}/profile/view(id=${post.author?.id})}">
                    <img th:src="@{/img/{filename}(filename=${post.author?.picture})}" width="40" height="40">
                </a>
            </span>
            <a th:href="@{/users/{id}/profile/view(id=${post.author?.id})}">
                <b th:text="${post.author.username}">author</b>
            </a>
        </span>

        <div th:text="${#temporals.format(post.time, 'yyyy-MM-dd HH:mm')}"></div>

        <div th:if="${post.edited == true}">
            <i>edited</i>
            <i th:text="${#temporals.format(post.editTime, 'yyyy-MM-dd HH:mm')}"></i>
        </div>

        <div>
            <div th:if="${post.author?.email == user.email}">
                <form th:action="@{/posts/{id}/edit(id=${post.id})}" th:method="get">
                    <input type="hidden" name="postAuthorId" th:value="${post.author.id}">
                    <input type="submit" value="Edit">
                </form>

                <form th:action="@{/posts/{id}/delete(id=${post.id})}" th:method="post">
                    <input type="submit" value="Delete">
                </form>
            </div>
        </div>

        <div th:text="${post.tag}">tag</div>

        <div th:text="${post.text}">content</div>

        <div>
            <span th:if="${post.filename1 != null}">
                <img th:src="@{/img/{filename}(filename=${post.filename1})}">
            </span>

            <span th:if="${post.filename2 != null}">
                <img th:src="@{/img/{filename}(filename=${post.filename2})}">
            </span>

            <span th:if="${post.filename3 != null}">
                <video width="400" controls>
                    <source th:src="@{/img/{filename}(filename=${post.filename3})}" type="video/mp4">
                    Your browser does not support HTML video playback!
                </video>
            </span>
        </div>

        <div th:if="${post.latlng != null}">
            <div th:id="'map' + ${post.id}" style="width: 40vw;height: 40vh;"></div>

            <script th:inline="javascript">
                id = [[${post.id}]];
                mapId = 'map' + id;

                latlng = {
                        lat: [[${post.latlng[0]}]],
                        lng: [[${post.latlng[1]}]],
                };

                initMap(mapId, latlng);
            </script>
        </div>

        <div>
            <form th:action="@{/post/{id}/react(id=${post.id})}" th:method="post">
                <input type="submit" value="LIKE" name="like" id="like">
                <input type="submit" value="DISLIKE" name="dislike" id="dislike">
            </form>

            <span id="liked">Liked: </span>
            <span th:each="reaction : ${post.reactions}">
                <span th:if="${reaction.reactionType.name() == 'LIKE'}">
                    <span th:if="${reaction.reactionAuthor.picture != null}">
                        <a th:href="@{/users/{id}/profile/view(id=${reaction.reactionAuthor.id})}">
                            <img th:src="@{/img/{filename}(filename=${reaction.reactionAuthor.picture})}" width="21" height="21">
                        </a>
                        <a th:href="@{/users/{id}/profile/view(id=${reaction.reactionAuthor.id})}">
                            <span th:text="${reaction.reactionAuthor.username}">author</span>
                        </a>
                    </span>
                </span>
            </span>
            <br>
            <span>Disliked: </span>
            <span th:each="reaction : ${post.reactions}">
                <span th:if="${reaction.reactionType.name() == 'DISLIKE'}">
                    <span th:if="${reaction.reactionAuthor.picture != null}">
                        <a th:href="@{/users/{id}/profile/view(id=${reaction.reactionAuthor.id})}">
                            <img th:src="@{/img/{filename}(filename=${reaction.reactionAuthor.picture})}" width="21" height="21">
                        </a>
                        <a th:href="@{/users/{id}/profile/view(id=${reaction.reactionAuthor.id})}">
                            <span th:text="${reaction.reactionAuthor.username}">author</span>
                        </a>
                    </span>
                </span>
            </span>
        </div>
        <br>
        <!--        display comments-->
        <div th:each="comment : ${post.comments}">
            <span th:if="${comment.commentAuthor.picture != null}">
                <a th:href="@{/users/{id}/profile/view(id=${comment.commentAuthor?.id})}">
                    <img th:src="@{/img/{filename}(filename=${comment.commentAuthor.picture})}" width="21" height="21">
                </a>
            </span>
            <a th:href="@{/users/{id}/profile/view(id=${comment.commentAuthor?.id})}">
                <b th:text="${comment.commentAuthor.username}">author</b>
            </a>

            <div th:text="${#temporals.format(comment.time, 'yyyy-MM-dd HH:mm')}"></div>

            <div th:text="${comment.content}">content</div>
            <div th:if="${comment.filename1 != null}">
                <img th:src="@{/img/{filename}(filename=${comment.filename1})}">
            </div>
        </div>
        <!--        write a comment-->
        <div>
            <form th:method="post" th:action="@{/posts/comments/new}" th:object="${comment}"
                  enctype="multipart/form-data">
                <span th:if="${user.picture != null}">
                    <img th:src="@{/img/{filename}(filename=${user.picture})}" width="21" height="21">
                </span>

                <textarea
                        id="textarea" name="textarea"
                        rows="1" cols="100"
                        placeholder="Write a comment..."
                        th:field="*{content}"
                        required="required">
                </textarea>

                <div>
                    <input type="hidden" name="postId" th:value="${post.id}">
                </div>

                <div>
                    <input type="file" accept="image/*" name="file"
                           onchange="document.getElementById('preview1').src = window.URL.createObjectURL(this.files[0]);
                                    document.getElementById('preview1').style.display = 'block'">
                    <img src="" style="display:none" id="preview1" width="100px" height="100px" />
                </div>
                <input type="submit" value="Write">
            </form>
        </div>
        <br>
        <br>

    </div>

    <div id="status" class="login"></div>
    <div id="login">
        <div class="main row justify-content-center h-100">
            <form id="login-form" name="login-form">
                <div class="input-group">
                    <input id="username" th:value="${user.username}" type="text" class="form-control all-input" autocomplete="off" placeholder="Username" />
                    <div class="input-group-append">
                        <button class="fas fa-location-arrow" type="submit"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="chat-page" class="hide main">
        <div class="row justify-content-center h-100">
            <div class="col-md-8 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex bd-highlight">
                            <div class="chat-summary">
                                <span>Welcome to socialHub public chat!</span>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div id="chat"></div>
                    </div>

                    <form id="message-controls" name="message-controls" class="card-footer">
                        <div class="input-group">
                            <textarea id="message" class="form-control all-input" placeholder="Type your message..."></textarea>
                            <div class="input-group-append">
                                <button class="fas fa-location-arrow" type="submit"></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/js/chat.js"></script>
</body>
</html>
