<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>socialHub - Profile</title>
    <link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.63.0/maps/maps.css'>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5ZBx00RduDZd4vXnxozNtrUJYiBf3OE4"></script>
    <script type="text/javascript" th:src="@{/js/profileInfoMap.js}"></script>
</head>
<body>
<div th:value="${user.picture}">
    <div th:if="${user.picture != null}">
        <img th:src="@{/img/{filename}(filename=${user.picture})}">
    </div>
    <div >
        <b th:text="${user.username}">user name</b>
    </div>

    <div th:each="media : ${user.mediaList}">
        <div th:if="${media.filename != null}">
            <img src="" th:id="'img' + ${media.id}" width="30%" height="30%" style="display:none"/>
            <video th:id="'vid' + ${media.id}" width="400" controls="controls" preload="metadata" style="display:none">
                <source src="" type="video/mp4">
            </video>
            <script th:inline="javascript">
                id = [[${media.id}]]
                imgId = 'img' + id;
                vidId = 'vid' + id;

                path = [[@{/img/{filename}(filename=${media.filename})}]];
                type1 = path.slice(path.length - 3);
                type2 = path.slice(path.length - 4);

                if (type1 === 'mp4' || type1 === 'ogg'
                || type2 === 'H264' || type2 === 'H265' || type2 === 'mpeg' || type2 === '3gpp') {
                    document.getElementById(imgId).style.display = 'none';
                    document.getElementById(vidId).style.display = 'block';
                    document.getElementById(vidId).src = [[@{/img/{filename}(filename=${media.filename})}]];
                } else {
                    document.getElementById(imgId).style.display = 'block';
                    document.getElementById(vidId).style.display = 'none';
                    document.getElementById(imgId).src = [[@{/img/{filename}(filename=${media.filename})}]];
                }
            </script>
        </div>
    </div>

    <label for="dof">Date of birth: </label>
    <span th:text="${user.dof}" id="dof">dof</span>
    <br>
    <br>

    <label for="homeTown">Home town: </label>
    <span th:text="${user.homeTown}" id="homeTown">homeTown</span>
    <br>
    <br>
    <div th:if="${user.homeTown != null}">
        <div id="home" style="width: 40vw;height: 40vh;"></div>
            <script th:inline="javascript">
                mapId = 'home';
                address = [[${user.homeTown}]];
                initMap(mapId, address);
            </script>
    </div>
    <br>
    <br>

    <label for="livesIn">Lives in: </label>
    <span th:text="${user.livesIn}" id="livesIn">livesIn</span>
    <br>
    <br>
    <div th:if="${user.livesIn != null}">
        <div id="lives" style="width: 40vw;height: 40vh;"></div>
        <script th:inline="javascript">
                mapId = 'lives';
                address = [[${user.livesIn}]];
                initMap(mapId, address);
            </script>
    </div>

</div>

</body>
</html>