<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>socialHub - Profile</title>
    <link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.63.0/maps/maps.css'>
    <style>
        #map {
            width: 40vw;
            height: 40vh;
        }
        #gmap {
            width: 40vw;
            height: 40vh;
        }
        #addressmap {
            width: 40vw;
            height: 40vh;
        }
    </style>
<!--    <script src='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.63.0/maps/maps-web.min.js'></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5ZBx00RduDZd4vXnxozNtrUJYiBf3OE4&callback=initMap&libraries=&v=weekly"
            defer
    ></script>
</head>
<body>
    <div th:value="${user.picture}">
        <div th:if="${user.picture != null}">
            <img th:src="@{/img/{filename}(filename=${user.picture})}">
        </div>
    </div>
    <div >
        <b th:text="${user.username}">user name</b>
    </div>

    <form th:method="post" th:action="@{/users/{id}/profile/update(id=${user.id})}" th:object="${user}"
          enctype="multipart/form-data">
        <label for="profile-img">Upload/change profile image: </label>
        <input type="file" accept="image/*" name="file" id="profile-img" onchange="
            document.getElementById('prv-profile-img').src = window.URL.createObjectURL(this.files[0]);
            document.getElementById('prv-profile-img').style.display = 'block';
            document.getElementById('rmv-profile-img').style.display = 'block'">
        <div>
            <img src="" style="display:none" id="prv-profile-img" width="100px" height="100px" />
            <button id="rmv-profile-img" type="button" style="display:none" th:onclick="removeProfileImg()">Remove File</button>
            <script type="text/javascript" th:src="@{/js/removeSelPic.js}"></script>
        </div>
        <br>
        <br>

        <label for="file">Upload media to gallery: </label>
        <input type="file" accept="image/*, video/H264, video/H265, video/mp4, video/mpeg, video/ogg, video/3gpp"
               name="media" id="file" multiple>
        <script th:inline="javascript">
            let uploads = document.getElementById("file");

            uploads.addEventListener("change", function(event) {
                files = uploads.files;

                let divPreviews = document.getElementById('previews');
                divPreviews.innerHTML = '';

                rmv = document.createElement('BUTTON');
                rmv.type = 'button';
                rmv.style.display = 'block';
                rmv.id = 'rmv';
                divPreviews.appendChild(rmv);
                document.getElementById(rmv.id).innerHTML = 'Remove';

                for (var i = 0; i < files.length; i++) {
                    console.log("Filename: " + files[i].name);
                    console.log("Type: " + files[i].type);
                    console.log("Size: " + files[i].size + " bytes");

                    img = document.createElement('IMG');
                    img.src = window.URL.createObjectURL(this.files[i]);
                    img.width = '100';
                    img.height = '100';
                    img.style.display = 'none';
                    img.id = 'img' + i;
                    divPreviews.appendChild(img);

                    vid = document.createElement('VIDEO');
                    vid.src = window.URL.createObjectURL(this.files[i]);
                    vid.type = 'video/H264, video/H265, video/mp4, video/mpeg, video/ogg, video/3gpp';
                    vid.width = '400';
                    vid.controls = 'controls';
                    vid.preload = 'metadata';
                    vid.style.display = 'none';
                    vid.id = 'vid' + i;
                    divPreviews.appendChild(vid);

                    if (files[i].type.match('video.*')) {
                        vid.style.display = 'block';
                        img.style.display = 'none';
                    } else {
                        vid.style.display = 'none';
                        img.style.display = 'block';
                    }

                    addEvent(rmv.id, img.id, vid.id);
                }
            }, false);

            const addEvent = (btn, img, vid, file, event = 'click') => {
                document.getElementById(btn).addEventListener(event, function() {
                    prv_img = document.getElementById(img);
                    prv_vid = document.getElementById(vid);
                    rmv_btn = document.getElementById(btn);

                    if (prv_img !== null) {
                        prv_img.style.display = "none";
                    }

                    if (prv_vid !== null) {
                        prv_vid.style.display = "none";
                    }

                    rmv_btn.style.display = "none";

                    uploads.value = uploads.defaultValue;
                });
            }
        </script>
        <div id="previews"></div>
        <br>
        <div th:each="media : ${user.mediaList}">
            <div th:if="${media.filename != null}">
                <img src="" th:id="'img' + ${media.id}" width="30%" height="30%" style="display:none"/>
                <video th:id="'vid' + ${media.id}" width="400" controls="controls" preload="metadata" style="display:none">
                    <source src="" type="video/mp4">
                </video>
                <input type="checkbox" name="checked" th:value="${media.id}">
                <script th:inline="javascript">
                    id = [[${media.id}]]
                    imgId = 'img' + id;
                    vidId = 'vid' + id;

                    path = [[@{/img/{filename}(filename=${media.filename})}]];
                    type1 = path.slice(path.length - 3);
                    type2 = path.slice(path.length - 4);

                    if (type1 === 'mp4' || type1 === 'ogg'
                    || type2 === 'H264' || type2 === 'H265' || type2 === 'mpeg' || type2 === '3gpp') {
                        document.getElementById(imgId).style.display = 'none';
                        document.getElementById(vidId).style.display = 'block';
                        document.getElementById(vidId).src = [[@{/img/{filename}(filename=${media.filename})}]];
                    } else {
                        document.getElementById(imgId).style.display = 'block';
                        document.getElementById(vidId).style.display = 'none';
                        document.getElementById(imgId).src = [[@{/img/{filename}(filename=${media.filename})}]];
                    }
                </script>
            </div>
        </div>
        <div th:if="${user.mediaList != null and !user.mediaList.empty}">
            <button type="submit" value="Remove File" name="Delete">Remove selected</button>
            <br>
            <br>
        </div>

        <label for="username">User name: </label>
        <input type="text" th:field="*{username}" id="username" required>
        <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">error message</div>
        <br>
        <br>

        <label for="email">Email: </label>
        <span th:text="${user.email}" id="email">email</span>
        <span><a th:href="@{/users/{id}/profile/security/email/update(id=${user.id})}">Change</a></span>
        <br>
        <br>

        <label>Password: </label>
        <span><a th:href="@{/users/{id}/profile/security/pass/update(id=${user.id})}">Change</a></span>
        <br>
        <br>

        <label for="date">Date of birth: </label>
        <input type="date" th:field="*{dof}" id="date">
        <div style="color:red" th:if="${#fields.hasErrors('dof')}" th:errors="*{dof}">error message</div>
        <br>
        <br>

        <label for="homeTown">Home town: </label>
        <input type="text" th:field="*{homeTown}" id="homeTown">
        <div style="color:red" th:if="${#fields.hasErrors('homeTown')}" th:errors="*{homeTown}">error message</div>
        <br>
        <br>

        <label for="livesIn">Lives in: </label>
        <input type="text" th:field="*{livesIn}" id="livesIn" required>
        <div style="color:red" th:if="${#fields.hasErrors('livesIn')}" th:errors="*{livesIn}">error message</div>
        <br>
        <br>
        <div id="addressmap"></div>
        <br>
        <br>

<!--            <div>-->
<!--                <input type="hidden" name="lng" id="longitudevalue" th:value="${longitudevalue}">-->
<!--                <input type="hidden" name="lat" id="latitudevalue" th:value="${latitudevalue}">-->
<!--            </div>-->

        <input type="submit" name="Update" value="Update">
    </form>
    <br>
    <br>

<!--        <div id='map' class='map'></div>-->
<!--        <br>-->

<!--        <div id="gmap"></div>-->
<!--        <br>-->

<!--        <div>Country: <span id="country"></span></div>-->
<!--        <div>State: <span id="state"></span></div>-->
<!--        <div>City: <span id="city"></span></div>-->
<!--        <div>Latitude: <span id="latitude"></span></div>-->
<!--        <div>Longitude: <span id="longitude"></span></div>-->
<!--        <div>IP: <span id="ip"></span></div>-->



<!--    <script th:inline="javascript">-->
<!--        let map = tt.map({-->
<!--            key: [[${apikey}]],-->
<!--            container: 'map',-->
<!--            style: 'tomtom://vector/1/basic-main',-->
<!--            center: [21.144279, 55.703297],-->
<!--            zoom: 10-->
<!--        });-->
<!--        map.addControl(new tt.FullscreenControl());-->
<!--        map.addControl(new tt.NavigationControl());-->

<!--        const popupOffsets = {-->
<!--            top: [0, 0],-->
<!--            bottom: [0, -50],-->
<!--            'bottom-right': [0, -70],-->
<!--            'bottom-left': [0, -70],-->
<!--            left: [25, -35],-->
<!--            right: [-25, -35]-->
<!--        }-->

<!--        const locations = /*[[${gottenLocation}]]*/ null;-->
<!--        locations.forEach(location => {-->
<!--            const marker = new tt.Marker().setLngLat(location.lnglat).addTo(map);-->
<!--            const popup = new tt.Popup({offset: popupOffsets}).setHTML(location.description);-->
<!--            marker.setPopup(popup).togglePopup();-->
<!--        });-->

<!--        // Getting JSONP callback data using AJAX and geolocation-db API by IP address-->
<!--        $.ajax({-->
<!--            url: "https://geolocation-db.com/jsonp",-->
<!--            jsonpCallback: "callback",-->
<!--            dataType: "jsonp",-->
<!--            success: function(location) {-->
<!--                $('#country').html(location.country_name);-->
<!--                $('#state').html(location.state);-->
<!--                $('#city').html(location.city);-->
<!--                $('#latitude').html(location.latitude);-->
<!--                $('#longitude').html(location.longitude);-->
<!--                $('#latitudevalue').val(location.latitude);-->
<!--                $('#longitudevalue').val(location.longitude);-->
<!--                $('#ip').html(location.IPv4);-->
<!--            }-->
<!--        });-->
<!--    </script>-->

    <script th:inline="javascript">
        function initMap() {
            const map = new google.maps.Map(document.getElementById("addressmap"), {
                zoom: 8,
                center: { lat: 40.731, lng: -73.997 },
            });
            const geocoder = new google.maps.Geocoder();
            const address = document.getElementById("livesIn").value;

            geocoder.geocode({ address: address }, (results, status) => {
                if (status === "OK") {
                    map.setCenter(results[0].geometry.location);
                    new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location,
                    });
                } else {
                    alert("Geocode was not successful for the following reason: " + status);
                }
            });
        }
    </script>

</body>
</html>