<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Registration</title>
</head>
<p>Registration</p>
<body>
    <div th:text="${message}">user_exists_msg</div>

    <form th:method="post" th:action="@{/registration}" th:object="${user}" enctype="multipart/form-data">
        <label for="username">User name: </label>
        <input type="text" th:field="*{username}" id="username">
        <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">error message</div>
        <br>
        <br>
        <label for="email">Email: </label>
        <input type="email" th:field="*{email}" id="email" placeholder="email@email.email">
        <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">error message</div>
        <br>
        <br>
        <label for="password">Password: </label>
        <input type="password" th:field="*{password}" id="password">
        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">error message</div>
        <br>
        <br>
        <label for="passwordConfirmation">Confirm password: </label>
        <input type="password" name="passwordConfirmation" id="passwordConfirmation">
        <div style="color:red" th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}">error message</div>
        <br>
        <br>
        <label for="file">Profile image: </label>
        <input type="file" accept="image/*" name="file" id="file" onchange="
            document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0]);
            document.getElementById('profilePicture').style.display = 'block';
            document.getElementById('rmv').style.display='block'">
        <div>
            <img src="" style="display:none" id="profilePicture" width="100px" height="100px" />
            <button id="rmv" type="button" style="display:none" th:onclick="remove()">Remove File</button>
            <script type="text/javascript" th:src="@{/js/removeSelPic.js}"></script>
        </div>
        <br>
        <br>

        <label for="livesIn">Lives in: </label>
        <input type="text" th:field="*{livesIn}" id="livesIn">
        <div style="color:red" th:if="${#fields.hasErrors('livesIn')}" th:errors="*{livesIn}">error message</div>
        <br>
        <br>
        <input type="submit" value="Register">
    </form>
</body>
</html>