<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>socialHub</title>
</head>
<body>

    <form th:action="@{/users/{id}/edit(id=${user.getId()})}" th:method="post" th:object="${user}">
        <label for="username">User name: </label>
        <input type="text" th:field="*{username}" id="username">
        <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">error message</div>
        <br>
        <br>
        <ul>
            <li th:each="role : ${roles}">
                <div>
                    <input type="checkbox" th:field="*{roles}" th:value="${role}">
                    <label th:text="${role}">role</label>
                    <div style="color:red" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">error message</div>
                </div>
            </li>
        </ul>
        <br>
        <br>
        <input type="submit" value="Save">
    </form>

</body>
</html>