<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>socialHub</title>
</head>
<body>

    <table>
        <thead>
            <tr>
                <th>User name</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div th:each="user : ${users}">
                        <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getUsername()}">username</a>
                    </div>
                </td>
                <td>
                    <div th:each="user : ${users}">
                        <div th:each="role : ${user.getRoles()}">
                             <div th:text="${role}">role</div>
                        </div>
                    </div>
                </td>
                <td>
                    <div th:each="user : ${users}">
                        <a th:href="@{/users/{id}/edit(id=${user.getId()})}">edit</a>
                    </div>
                </td>
                <td>
                    <div th:each="user : ${users}">
                        <form th:action="@{/users/{id}/delete(id=${user.getId()})}" th:method="post">
                            <input type="submit" value="Delete" name="delete">
                            <input type="submit" value="Ban" name="ban">
                        </form>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>