<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>socialHub</title>
</head>
<body>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div th:text="${user.getId()}">id</div>
            </td>
            <td>
                <div th:text="${user.getUsername()}">username</div>
            </td>
            <td>
                <a th:href="@{/users/{id}/edit(id=${user.getId()})}">edit</a>
            </td>
        </tr>
        </tbody>
    </table>

</body>
</html>