<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>socialHub</title>
</head>
<body>
    <div th:text="${message}">activationMsg</div>

    <div class="error"
         th:if="${param.error}" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
        Reason: <span th:text="${errorMsg}">loginErrorMsg</span>
    </div>

    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <form th:action="@{/login}" method="post">
        <div><label>Email: <input type="email" name="email" required/> </label></div>
        <div><label>Password: <input type="password" name="password" required/> </label></div>
        <div><input type="submit" value="Sign In"/></div>
    </form>

    <a href="/registration">Registration</a>
</body>

</html>